@import "tailwindcss";

html {
  overflow: hidden;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
}

#root {
  height: 100%;
  overflow-y: auto;
  overscroll-behavior-y: none;
  -webkit-overflow-scrolling: touch;
}
